{% extends "base.html" %}

{% block meta %}
    <title>Forum - UlasBuku</title>

    <style>
        :root {
            --primary: #5a6794;
            --bg: #8794c0;
            --text: #eaf2d7;
            --text1: #ffa69e;
            --text2: #ff7e6b;
        }
        
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            outline: none;
            border: none;
            text-decoration: none;
        }
        
        html {
            scroll-behavior: smooth;
        }
        
        body {
            font-family: 'Poppins', sans-serif;
            color: #fff;
        }

        nav a {
            text-decoration: none;
            color: #fff;
        }

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.4rem 7%;
            color: #fff;
        
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 9999;
        }
        
        .navbar .navbar-logo {
            font-size: 2rem;
            font-weight: 700;
            color: #fff;
            font-style: italic;
        }
        
        .navbar .navbar-logo span {
            color: var(--primary);
        }
        
        .navbar .navbar-middle a {
            color: #fff;
            display: inline-block;
            font-size: 1.3rem;
            margin: 0 2rem;
        }
        
        .navbar .navbar-middle a:hover {
            color: var(--primary);
        }
        
        .navbar .navbar-middle a::after {
            content: '';
            display: block;
            padding-bottom: 0.1rem;
            border-bottom: 0.05rem solid var(--primary);
            transform: scaleX(0);
            transition: 0.2s linear;
        }
        
        .navbar .navbar-middle a:hover::after {
            transform: scaleX(0.5);
        }
        
        .navbar .navbar-right a{
            color: #fff;
            display: inline-block;
            font-size: 1.3rem;
            margin: 0 1rem;
        }
        
        .card-text {
            font-size: small;
            margin-bottom: 0;
        }

        .floating-btn {
            width: fit-content;
            height: fit-content;
            padding: 5px 5px 5px 5px;
            background-color: var(--primary);
            display: flex;
            justify-content: center;
            text-decoration: none;  
            border-radius: 8px;
            color: white;
            font-size: 20px;    
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
            position: fixed;
            right: 20px;
            bottom: 20px;
        }

    </style>

{% endblock meta %}

{% block content %}
<body style="background-color: var(--bg);">
<!-- Navbar start -->
<nav class="navbar px-5" style="background-color: rgba(1, 1, 1, 0.8);">
    <div class="container-fluid my-2">
        <!-- Navbar logo -->
        <div class="navbar-logo">
            <a>Ulas<span>Buku</span></a>
        </div>
        
        <!-- Middle Part -->
        <div class="navbar-middle">
            <a href="{% url 'main:homepage' %}">Tentang</a>
            <a href="{% url 'forum_discussion:view_forum' %}">Forum</a>
            {% if user.is_authenticated %}
            <a href="{% url 'book:show_main_add_book' %}">Tambah Buku</a>
            {% endif %}
            <a href="{% url 'send_messages:show_messages' %}">Pesan</a>
            <a href="{% url 'user_profile:view_profile' username=user.username %}">Profil</a>
        </div>

        <!-- Right Part -->
        {% if user.is_authenticated %}
        <div class="navbar-right">
            <a style="margin-right: 0;">Welcome,{{ user.username }}</a>
            <a href="{% url 'main:logout' %}">Logout</a>
        </div>
        {% else %}
        <div class="navbar-right">
            <a href="{% url 'main:login' %}">Login</a>
        </div>
        {% endif %}
    </div>
  </nav>
    
<div id="discussion_cards" class="row g-1 text-center"></div>
    
    <!-- Ini untuk AJAX -->
    <div class="modal fade" id="addDiscussionModal" tabindex="-1" aria-labelledby="addDiscussionLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header" >
                    <h1 class="modal-title fs-5" id="addDiscussionLabel">Add New Discussion</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;" >
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="book_title" class="col-form-label">Judul buku:</label>
                            <input type="text" class="form-control" id="book_title" name="book_title"></input>
                        </div>
                        <div class="mb-3">
                            <label for="rating" class="col-form-label">Rating (dari 5):</label>
                            <input type="number" class="form-control" id="rating" name="rating" min="0" max="5"></input>
                        </div>
                        <div class="mb-3">
                            <label for="review" class="col-form-label">Ulasan:</label>
                            <textarea class="form-control" id="review" name="review"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Tambahkan Diskusi</button>
                </div>
            </div>
        </div>
    </div>
    
    {% if user.is_authenticated %}
    <button type="button" class="floating-btn" data-bs-toggle="modal" data-bs-target="#addDiscussionModal">Tambahkan Diskusi</button>
    {% endif %}

    <script>
        async function getHeader() {
            return fetch("{% url 'forum_discussion:get_header_json' %}").then((res) => res.json())
        }

        async function refreshDiscussion() {
            const discussionCardsContainer = document.getElementById("discussion_cards");
            discussionCardsContainer.innerHTML = '';
            const header = await getHeader();
            
            header.forEach((item) => {
                const card = document.createElement("div");
                card.classList.add("discussion_cards");
                const cardContent = `
                <div class="container my-2" style="padding: 2%; background-color: var(--text)">
                    <div class="row justify-content-md-center" style="text-align: left">
                      <div class="col col-lg-1">
                        <img src="${item.book_info.image_url_s}" alt="Cover Buku" style="height: 100px; width: auto;">
                      </div>
                      <div class="col-md-5">
                        <h5 class="card-title">${item.book_info.book_title}</h4>
                            <p class="card-text">ISBN: ${item.book_info.isbn}</p>
                            <p class="card-text">Ditulis oleh: ${item.book_info.author}</p>
                            <p class="card-text">Dipublikasikan oleh: ${item.book_info.publisher}</p>
                            <p class="card-text">Dipublikasikan pada: ${item.book_info.published_year}</p>
                      </div>
                      <div class="col md-auto">
                            <p class="card-text">Rating: <b>${item.rating}</b> dari 5</p>
                            <p class="card-text">Ulasan:</p>
                            <p class="card-text">${item.review}</p>
                      </div>
                    </div>
                    <div class="row justify-content-md-center" style="text-align: center">
                        <p></p>
                        <p class="card-text">Ditambahkan pada: ${item.date_added} | Oleh: ${item.user} </p>
                    </div>
                </div>
                `;
                card.innerHTML = cardContent;
                discussionCardsContainer.appendChild(card);
            });
        }
        refreshDiscussion();

        function addDiscussion() {
            fetch("{% url 'forum_discussion:add_discussion_ajax' %}", {
                method: "POST",
                body: new FormData(document.querySelector('#form'))
            }).then(refreshDiscussion)

            document.getElementById("form").reset()
            return false
        }

        document.getElementById("button_add").addEventListener("click", addDiscussion)

    </script>
</body>
{% endblock content %}