#user-list {
    width: 360px;
}

#message-list {}

.textarea-resize textarea {
    display: block;
    width: 100%;
    resize: both;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(1, 1, 1, 0.8);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}


.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    font-style: italic;
}

.navbar .navbar-logo span {
    color: var(--primary);
}

.navbar .navbar-middle a {
    color: #fff;
    display: block;
    padding-bottom: 0.1rem;
    border-bottom: 0.05rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-middle a:hover {
    color: var(--primary);
}

.navbar .navbar-middle a::after {
    content: '';
    display: block;
    padding-bottom: 0.1rem;
    border-bottom: 0.05rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-middle a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-right a{
    color: #fff;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
}

