<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <title>{% block title %}Pesan{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'main/main.css' %}" />
  {% load django_bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <nav class="navbar">
    <!-- Navbar logo -->
    <a href="/" class="navbar-logo"> Ulas<span>Buku</span></a>
  
    <!-- Middle Part -->
    <div class="navbar-middle">
      <a href="#about">Tentang</a>
      <a href="#forum">Forum</a>
      <a href="{% url 'book:show_main_add_book' %}">Tambah Buku</a>
      {% if user.is_authenticated %}
        <span class="messages-label" style="color: #8794C0; font-size: 1.3rem; margin: 0 1rem;">Pesan</span>
      {% else %}
        <a href="{% url 'send_messages:show_messages' %}">Pesan</a>
    {% endif %}
    </div>
  
    <!-- Right Part -->
    <!-- <div class="navbar-right">
      <a href="#Login">Login</a>
    </div> -->
    {% if user.is_authenticated %}
    <div class="navbar-right">
      Welcome,
      <a href="{% url 'user_profile:view_profile' username=user.username %}"
        >{{ user.username }}</a
      >
      <a href="{% url 'main:logout' %}">Logout</a>
    </div>
    {% else %}
    <div class="navbar-right">
      <a href="{% url 'main:login' %}">Login</a>
    </div>
    {% endif %}
  </nav>
</head>

<body>
  <main class="vh-100">
    {% block content %}
    {% endblock %}
  </main>
</body>

</html>