<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <title>{% block title %}Pesan{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/messages_style.css' %}" />
  {% load django_bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <body style="background-color: var(--bg);">
    <!-- Navbar start -->
    <nav class="navbar px-5" style="background-color: rgba(1, 1, 1, 0.8);">
        <div class="container-fluid my-2">
            <!-- Navbar logo -->
            <div class="navbar-logo">
                <a>Ulas<span>Buku</span></a>
            </div>
            
            <!-- Middle Part -->
            <div class="navbar-middle">
                <a href="{% url 'main:homepage' %}">Tentang</a>
                <a href="{% url 'forum_discussion:view_forum' %}">Forum</a>
                <a href="{% url 'book:show_main_add_book' %}">Tambah Buku</a>
                <a href="{% url 'send_messages:show_messages' %}">Pesan</a>
                <a href="{% url 'user_profile:view_profile' username=user.username %}">Profil</a>
            </div>
            
            <!-- Right Part -->
            {% if user.is_authenticated %}
            <div class="navbar-right">
                <a style="margin-right: 0;">Welcome,{{ user.username }}</a>
                <a href="{% url 'main:logout' %}">Logout</a>
            </div>
            {% else %}
            <div class="navbar-right">
                <a href="{% url 'main:login' %}">Login</a>
            </div>
            {% endif %}
        </div>
    </nav>
</head>

<body>
  <main class="vh-100">
    {% block content %}
    {% endblock %}
  </main>
</body>

</html>