{% load bootstrap_icons %}

<div id="user-list" class="border-end">
  {% if user.is_authenticated %}
  <nav class="navbar bg-primary navbar-dark">
    <div class="container-fluid">
      <div class="navbar-brand d-flex align-items-center">
        {% bs_icon 'person-vcard' size='24px' %}
        <span class="px-3">{{ user.username }}</span>
      </div>
      <a href="{% url 'main:logout' %}" class="btn btn-primary d-flex">{% bs_icon 'box-arrow-right' size='20px' %}</a>
    </div>
  </nav>
  {% endif %}
  <div class="list-group list-group-flush">
    {% for usr in users %}
    <a href="{% url 'send_messages:messages' user.id %}"
      class="list-group-item{% if selected_user_id == user.id %} list-group-item-secondary{% endif %}">
      {{ user.username }}
      {{ usr.username }}
    {% endfor %}
    </a>
  </div>
</div>