<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>UlasBuku</title>

    <!-- style -->
    <link rel="stylesheet" href="static/main/main.css" />
  </head>
  <body>
    <!-- Navbar start -->
    <nav class="navbar">
      <!-- Navbar logo -->
      <a href="/" class="navbar-logo"> Ulas<span>Buku</span></a>

      <!-- Middle Part -->
      <div class="navbar-middle">
        <a href="#about">Tentang</a>
        <a href="#forum">Forum</a>
        <a href="{% url 'book:show_main_add_book' %}">Tambah Buku</a>
        <a href="{% url 'send_messages:show_messages' %}">Pesan</a>
        {% if user.is_authenticated %}
        <a href="{% url 'user_profile:view_profile' username=user.username %}">Profile</a>
        {% endif %}
      </div>

      <!-- Right Part -->
      {% if user.is_authenticated %}
      <div class="navbar-right">
        Welcome, {{ user.username }}
        <a href="{% url 'main:logout' %}">Logout</a>
      </div>
      {% else %}
      <div class="navbar-right">
        <a href="{% url 'main:login' %}">Login</a>
      </div>
      {% endif %}
    </nav>
  </body>
</html>
