{% extends "base.html" %}

{% block meta %}
  <title>UlasBuku</title>
  <style>
    :root {
        --primary: #5a6794;
        --bg: #8794c0;
        --text: #eaf2d7;
        --text1: #ffa69e;
        --text2: #ff7e6b;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        outline: none;
        border: none;
        text-decoration: none;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    body {
        font-family: 'Poppins', sans-serif;
        color: #fff;
    }

    nav a {
        text-decoration: none;
        color: #fff;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.4rem 7%;
        color: #fff;
    
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
    }
    
    .navbar .navbar-logo {
        font-size: 2rem;
        font-weight: 700;
        color: #fff;
        font-style: italic;
    }
    
    .navbar .navbar-logo span {
        color: var(--primary);
    }
    
    .navbar .navbar-middle a {
        color: #fff;
        display: inline-block;
        font-size: 1.3rem;
        margin: 0 2rem;
    }
    
    .navbar .navbar-middle a:hover {
        color: var(--primary);
    }
    
    .navbar .navbar-middle a::after {
        content: '';
        display: block;
        padding-bottom: 0.1rem;
        border-bottom: 0.05rem solid var(--primary);
        transform: scaleX(0);
        transition: 0.2s linear;
    }
    
    .navbar .navbar-middle a:hover::after {
        transform: scaleX(0.5);
    }
    
    .navbar .navbar-right a{
        color: #fff;
        display: inline-block;
        font-size: 1.3rem;
        margin: 0 1rem;
    }

    .floating-btn {
        width: fit-content;
        height: fit-content;
        padding: 5px 5px 5px 5px;
        background-color: var(--text);
        display: flex;
        justify-content: center;
        text-decoration: none;  
        border-radius: 8px;
        color: black;
        font-size: 20px;    
        box-shadow: 2px 2px 2px var(--primary);
        position: fixed;
        right: 20px;
        bottom: 20px;
    }
  </style>
{% endblock meta %}

{% block content %}
<body style="background-color: var(--bg);">
  <!-- Navbar start -->
  <nav class="navbar px-5" style="background-color: rgba(1, 1, 1, 0.8);">
    <div class="container-fluid my-2">
        <!-- Navbar logo -->
        <div class="navbar-logo">
            <a>Ulas<span>Buku</span></a>
        </div>
        
        <!-- Middle Part -->
        <div class="navbar-middle">
            <a href="{% url 'main:homepage' %}">About</a>
            <a href="{% url 'forum_discussion:view_forum' %}">Forum</a>
            <a href="#Reviews">Reviews</a>
            <a href="{% url 'send_messages:show_messages' %}">Messages</a>
        </div>
        
        <!-- Right Part -->
        <div class="navbar-right">
            <a href="{% url 'main:login' %}">Login</a>
        </div>
    </div>
  </nav>
</body>
{% endblock content %}