<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UlasBuku</title>

    <!-- style -->
    <link rel="stylesheet" href="static/main/main.css">
</head>
<body>

<!-- Navbar start -->
<nav class="navbar">
    <!-- Navbar logo -->
    <a href="#" class="navbar-logo"> Ulas<span>Buku</span></a>

    <!-- Middle Part -->
    <div class="navbar-middle">
        <a href="#about">About</a>
        <a href="#forum">Forum</a>
        <a href="#Reviews">Reviews</a>
    </div>

    <!-- Right Part -->
    <div class="navbar-right">
        <a href="#login">Login</a>
        <a href="#register">Register</a>
    </div>

</nav>



</body>
</html>